<h2>{{viewTitle}}</h2>

<form action="/task" autocomplete="off" method="POST">
    <div class="form-group">
        <label for="fname">Task name:</label><br>
        <input required type="text" id="fname" name="taskName"><br>
    </div>
    <div class="form-group">
        <label for="lname">Task Description:</label><br>
        <input required type="text" id="lname" name="taskDesc">
    </div>
    <button type = "submit" class="btn">Submit</button>
</form>

<a href="/task/list"><button>View All</button></a>