<style>
    body{
        background-image: url('https://cdn.pixabay.com/photo/2020/09/15/15/56/background-5574027_1280.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin: 4px 2px;
        padding: 14px 40px;
        cursor: pointer;
        border-radius: 4px;
    }

    .button:hover {
        color: white;
        background-color: #41e046;


    }
</style>
<div class="row">
    <div class="col">
        <h2>Todo List</h2>
    </div>
    <div class="col">
        <a href="/task" style="float:right;" class="button">ADD</a>
    </div>
</div>

<br>

<table class="table  table-hover table-success">
    <thead class="thead-dark">
        <tr class="bg-success">
            <th scope="col">Task Name</th>
            <th scope="col">Task Description</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.taskName}}</td>
            <td>{{this.taskDesc}}</td>
            <td><a href="/task/edit/{{this._id}}"><i class="fas fa-edit"></i></a></td>
            <td><a href="/task/delete/{{this._id}}" onclick="return confirmation('Are you sure you want to delete this task?')"><i class="fas fa-trash-alt"></i></a>
        </tr>
{{/each}}
    </tbody>
</table>