<h2>Todo List</h2>
<br>
<table class="table  table-hover table-success">
    <thead class="thead-dark">
        <tr class="bg-success">
            <th scope="col">Task Name</th>
            <th scope="col">Task Description</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.taskName}}</td>
            <td>{{this.taskDesc}}</td>
            <td><a href="/task/edit/{{this._id}}"><i class="fas fa-edit"></i></a></td>
            <td><a href="/task/delete/{{this._id}}" onclick="return confirmation('Are you sure you want to delete this task?')"><i class="fas fa-trash-alt"></i></a>
        </tr>
{{/each}}
    </tbody>
</table>