<h3>LIST PAGE</h3>
<table>
    <thead>
        <tr>
            <th>Task Name</th>
            <th>Task Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.taskName}}</td>
            <td>{{this.taskDesc}}</td>
            <td>
                <a>Edit</a>
                <a href="/task/delete/{{this._id}}">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<a href="/task">Go Back and Add a new Task</a>